.form_container {
  border: 1px solid #dbdbdb;
  width: 350px;
}

.logo {
  display: flex;
  justify-content: center;
  margin-top: 30.5px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.password_wrapper {
  position: relative;
}

.error {
  color: red;
  margin: 0 40px;
  font-size: 14px;
}
