.emoji_picker_container {
  position: absolute;
  display: inline-block;
}

.emoji_button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  padding-top: 20px;
}

.emoji_picker {
  position: absolute;
  right: 40px;
  top: -80px;
  z-index: 9999;
}
