.container {
  position: relative;
  width: 168px;
  height: 168px;
  z-index: -1;
}

.border {
  display: block;
  width: 168px;
  height: 168px;
  border-radius: 50%;
  z-index: -1;
}

.profile_image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
  z-index: -1;
}
