.modal_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(1px);
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 1;
}

.window_modal {
  width: 100%;
  max-width: 1001px;
  height: 564px;
  border-radius: 8px;
  background-color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 300px;
  top: -20px;
}

.window_modal_content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.import_photo {
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.selected_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.interaction_zone_container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
