.about_content {
  display: flex;
  flex-direction: column;
}

.about_profile {
  display: flex;
  align-items: center;
  gap: 20px;
}

.name {
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
}

.link_edit_profile {
  width: 169px;
  font-size: 14px;
  background-color: #efefef;
  color: #000000;
}

.about_info {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  max-width: 435px;
}

span {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #737373;
}

.link {
  display: flex;
  gap: 7px;
  margin-top: 19px;
}

.link_text {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  color: #00376b;
}
