.register_form {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin: 0 45px;
}

.redirect_message {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  color: #4caf50;
  transform: translateY(-10px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.redirect_message.show {
  opacity: 1;
  transform: translateY(0);
}

.success {
  align-items: center;
  color: green;
  margin: 0 40px;
  margin-bottom: 20px;
}
